AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SERVER_SHIELD_PULUMI__AWS_REGION=eu-north-1

SERVER_SHIELD_PULUMI__MINER_INSTANCE_ID=...

# Axon port of the miner
SERVER_SHIELD_PULUMI__MINER_PORT=9001  # if you want to test sth, you can, for example, have nginx serve a hello world there

SERVER_SHIELD_PULUMI__HOSTED_ZONE_ID=Z0746326HVBM2WBJ6V7C # you have to create it manually

PULUMI_CONFIG_PASSPHRASE=""