SERVER_SHIELD_MINER_PORT=9001
SERVER_SHIELD_SUBTENSOR_ADDRESS=ws://127.0.0.1:9945
SERVER_SHIELD_NETUID=2
SERVER_SHIELD_CHAIN_WRITER__WALLET_NAME=miner
SERVER_SHIELD_CHAIN_WRITER__WALLET_HOTKEY=default

SERVER_SHIELD_PULUMI__BACKEND_URL=file:////tmp/pulumi-state
SERVER_SHIELD_PULUMI__SHIELD_BACKEND=AWS
SERVER_SHIELD_PULUMI__AWS__AWS_ACCESS_KEY_ID=...
SERVER_SHIELD_PULUMI__AWS__AWS_SECRET_ACCESS_KEY=...
SERVER_SHIELD_PULUMI__AWS__AWS_REGION=eu-north-1
SERVER_SHIELD_PULUMI__AWS__MINER_INSTANCE_ID=i-0235ab946ebd8941b
SERVER_SHIELD_PULUMI__AWS__HOSTED_ZONE_ID=Z0746326HVBM2WBJ6V7C
